<!DOCTYPE html>
<html>
    <head>
        <style>
            .center {
                text-align: center;

                justify-content: center;
                align-items: center;
                height: 300px;

                margin: auto;
                width: 50%;
                display: flex;
            }

            .topnav {
                overflow: hidden;
                background-color: #333;
            }

            .topnav a {
                float: left;
                color: #f2f2f2;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
                font-size: 17px;
            }

            .topnav a:hover {
                background-color: #ddd;
                color: black;
            }

            .topnav a.active {
                background-color: #800000;
                color: white;
            }

            body {
                <!-- 
                    background-image: url('https://i0.wp.com/blogsmedia.lse.ac.uk/blogs.dir/18/files/2019/06/decolonize-library-academic-africa.jpg?fit=1024%2C576&ssl=1');
                    background-repeat: no-repeat;
                    background-size: cover;
                -->
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }
            
            .button {
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                cursor: pointer;
            }

            .buttonCreate {
                background-color: #800000; 
                color: white;
                border: 2px solid black;
            }

        </style>
    </head>

    <body>
        <div class="topnav">
            <a class="active" href="#home">Library</a>
            <a href="#create">Create New Book</a>
            <a href="#update">Update Book</a>
            <a href="#delete">Delete Book</a>
        </div>
        
        <div class = "center">
            <!--    
                <button class = "button buttonCreate">Create Book</button>
                <button class = "button buttonCreate">Edit Book</button>
            -->
        
            <h1 style="text-align:center; color:black;" class = "center">Hello World!</h1>
            <p style="text-align:center; color:black;" class = "center"> lorem ipsum </p>
        </div>  
    </body>
</html>